@import "../Global";

.navbar {
  background-color: $white;
  display: flex;
  padding: 0 10% 0 10%;

  .logoWrapper,
  .actionWrapper {
    flex: 1;
  }

  .actionWrapper {
    justify-content: right;
    display: flex;

    > * {
      height: 48px;
      margin: 10px;
    }
  }

  .logo {
    height: 48px;
    margin: 10px;
  }
}
